.site_container {
  max-width: 1300px !important;
  padding: 0 15px;
  margin: 0 auto;
}

.site_footer {
  padding: 20px 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  /* margin-bottom: 20px; */
}

.support {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.support_icon {
  font-size: 40px;
  margin-right: 10px;
  color: #6c5dd4;
}

.support_text {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.support_tel {
  font-size: 20px;
  font-weight: 500;
  color: #6c5dd4;
}

.support_tel:hover {
  color: #000000;
}

.location_item {
  margin-bottom: 10px;
}

.location_link {
  font-size: 14px;
  font-weight: 500;
  color: #aaaaaa;
}

.location_link span {
  margin-left: 10px;
}

.location_link:hover {
  color: black;
}

.footer_part__title {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 19px;
}

.footer_part__item {
  margin-bottom: 15px;
}

.footer_part__link {
  font-size: 14px;
  color: #000000;
}

.footer_part__link:hover {
  color: #6c5dd4;
}

/* social media */

.social_media__title {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}

.social_media__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin-top: 24px;
}

.social_media__item {
  width: 34px;
  height: 34px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.social_media__item:not(:last-child) {
  margin-right: 15px;
}

.social_media__link {
  text-align: center;
  display: block;
  height: 100%;
  width: 100%;
  font-size: 20px;
}
