* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}
  
  * button:focus {
    outline: none;
}

.site_container {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}


.site_header {
    margin-bottom: 30px;
}

.header_top {
    display: flex;
    font-size: 12px;
    padding: 10px 0;
}

.header_top a {
    color: rgba(0, 0, 0, .5);
    font-weight: 500;
}

.tel_link {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(0, 0, 0, .5);
}

.mail_icon, .phone_icon {
    margin-right: 5px;
}

.mail_icon {
    transform: translateY(-2px)
}

/* header middle */

.header_middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.logo_categories {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.site_logo {
    font-size: 40px;
    font-weight: 700;
    color: #000000;
    margin-right: 30px;
}

.categories_btn {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    width: 150px;
    height: 37px;
    padding-left: 10px;
    border-radius: 5px;
    background-color: #6C5DD4;
    color: #ffffff;
    line-height: 37px;
    letter-spacing: .9px;
    cursor: pointer;
}

.bars_icon {
    transform: translateY(-2px);
    margin-right: 10px;
}

.search_area {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 37px;
    border: 1px solid #6C5DD4;
    border-radius: 5px;
    padding-left: 10px;
    margin-right: 30px;
}

.search_categories__btn {
    height: 37px;
    line-height: 37px;
    position: relative;
    display: inline-block;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80px;
    color: #6C5DD4;
    font-weight: 500;
    padding-right: 10px;
    cursor: pointer;
}

.categories_btn__icon {
    position: absolute;
    top: 10px;
    right: 5px;
}

.searching_input {
    height: 100%;
    border: none;
    border-left: 1px solid #C4C4C4;
    border-right: 1px solid #C4C4C4;
    padding: 15px;
    width: 75%;
    outline: none;  
}

.searching_input::placeholder {
    color: #C4C4C4;
}

.searching_btn {
    height: 100%;
    line-height: 37px;
    min-width: 40px;
    flex-grow: 1;
    text-align: center;
    color: #FFFFFF;
    background-color: #6C5DD4;
    cursor: pointer;
}

.user_tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.log_in {
    display: inline-block;
    width: 73px;
    height: 37px;
    background-color: #F1EEFF;
    border-radius: 10px;
    text-align: center;
    line-height: 37px;
    font-size: 14px;
    font-weight: 500;
    color: #6C5DD4;
    margin-right: 13px;
    cursor:pointer;
}

.sign_up {
    display: inline-block;
    width: 100px;
    height: 37px;
    background-color: #F1EEFF;
    border-radius: 10px;
    text-align: center;
    line-height: 37px;
    font-size: 14px;
    font-weight: 500;
    color: #6C5DD4;
    margin-right: 13px;
    cursor:pointer;
}

.user_icon {
    margin-right: 5px;
}

.sign_up:hover, .log_in:hover {
    transition: .3s;
    color: #FFFFFF;
    background-color: #6C5DD4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.change_lang {
    position: relative;
    height: 37px;
    width: 45px;
    background-color: #F1EEFF;
    text-align: center;
    line-height: 37px;
    border-radius: 10px;
}
  
.change_lang__btn {
    height: 100%;
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #6C5DD4;
    border-radius: 10px;
}
  
.change_lang__btn:hover {
    background-color: #6C5DD4;
    color: #FFFFFF;
    cursor: pointer;
}
.change_lang__btn span {
    margin-right: 3px;
}

/* header bottom styles */

.site_nav__list {
    padding: 0;
    display: flex;
}
  
.site_nav__item:not(:last-child) {
    margin-right: 20px;
}
  
.site_nav__link {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #6C5DD4;
    padding: 5px 0;
    border-bottom: 2px solid transparent;
}
  
.site_nav__link:hover {
    border-color: #6C5DD4;
}
  
.active_nav {
    border-color: #6C5DD4;
}
