* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.filter_section {
    position: relative;
    display: flex;
    margin-bottom: 60px;
}

.filter_option {
    width: 20%;
    margin-right: 30px;
}

.site_container {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}

.categories_box {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);;
    border-radius: 10px;
}

.categories_box__title {
    font-size: 18px;
    text-align: center;
    margin: 0;
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);;
}

.categories_box__list {
    padding: 10px 20px;
}

.categories_box__list__item {
    font-weight: 500;
    padding: 3px 0;
}

.categories_box__list__item:hover span {
    cursor: pointer;
    color: #6C5DD4;
}

.categories_inner__list {
    display: none;
}

.categories_box__list__item:hover .categories_inner__list {
    display: block;
}

.categories_inner__list__item {
    font-weight: 400;
    padding: 2px 0 2px 20px;
}

.categories_inner__list__item:hover {
    background-color: #c4c4c4;
    border-radius: 5px;
    cursor: pointer;
}

.filter_categories_checkbtn {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);;
    border-radius: 10px;
    margin-top: 15px;
    padding: 15px
}

.filter_categories_checkbtn h3 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.filter_categories_checkbtn label {
    font-weight: 500;
    margin-left: 10px;
    cursor: pointer;
}

input[type=checkbox]{
    cursor: pointer;
}

input[type=checkbox]:checked {
    background-color: red!important;
}

.price_range {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);;
    border-radius: 10px;
    margin-top: 15px;
    padding: 15px
}

.price_range h3 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.secondary_filter {
    width: 80%;
}

.secondary_filter__box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    line-height: 40px;
    padding: 0 20px;
}

.secondary_filter__link {
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    margin-right: 20px;
}

.active_link {
    color: #000000;
}

.products_link {
    margin-right: 20px;
}

.view_list__icon {
    margin-right: 15px;
}

.view_list__icon, .view_square__icon {
    color: rgba(0, 0, 0, 0.5);
}

.view_list__icon:hover, .view_square__icon:hover {
    color: #6C5DD4;
    cursor: pointer;
}

.active_icon {
    color: #6C5DD4;
}

.search_and__reset__btn {
    margin-top: 15px;
}

.search_and__reset__btn button {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 40px;
    background-color: #fff;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
}

.search_and__reset__btn button:hover {
    background-color: #6C5DD4;
    color: #fff;
}

.filter_search__btn {
    margin-bottom: 10px;
}


.products_pagenations {
    position: absolute;
    bottom: -35px;
    right: 5px;
}
